.register-page{
    margin-top: 10px;
}
/* .error-msg{
    background-color: black
} */
.grid-container {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    padding:80px 0;
    font-size: 50px;
    height: 250px;
    background-image: url(/assets/Gifts/Thanks.jpg);
    background-size: cover;
    background-position: center;
  }
  .container{
    padding: 30px;
    /* border: 3px solid #d94500; */
  }
  .grid-title{
      background-color: rgba(0,0,0,0.5);
      color: aliceblue;    
      padding: 1px;
      text-shadow: 2px 2px rgb(255, 0, 0);
  }
  .title{
      margin-top: 20px;
  }
  