<app-menu></app-menu>
<div class="col-md-12 grid-container">
  <span class="grid-title col-md-12">אודות ממתקי התקווה</span>
</div>
<div class="container contnet-page">
  <div class="row">
      <div class="col-sm-8 col-xs-12">
          <div>
            <h1 class="about-title">ברוך הבא לחנות הכי מתוקה בשוק התקוה!</h1>
            <b>
                קצת עלינו:
            </b>
            <p>
                ממתקי התקווה הינה חברה משפחתית פרטית העוסקת ביבוא, שיווק והפצת ממתקים מעל 20 שנה בישראל.
            </p>            
            <p>              
                האהבה לממתקים הפכה לסיפור הצלחה."ממתקי התקווה" מזמינים אתכם לביקור בחנות הכי חמימה שירותית וכיפית.
            </p>
            <p>               
                ממתקי התקווה - העתיד של ממתקים. המטרה שלנו תמיד לשמור על טעם הצרכנים החיובי ואנו תמיד מחפשים
                איך לרצות את הצרכן ברמה הגבוהה ביותר. בממתקי התקוה עובדים מכל
                הלב כדי לשמור על העתיד המתוק ביותר ונותנים לצרכן ליהנות מהאיכות והשירות.
            </p>
            <p>
              בבעלותינו סניף מרכזי ב-"שוק התקוה" חנות ביתית העובדת שישה ימים בשבוע עם מגוון רחב של מוצרים איכותיים
            </p>
            <!-- <img src="/assets/dafAbait/Mamtak1.jpg" align="left" /> -->
            <p>
               ניתן למצוא בחנות מגוון רחב של כל סוגי השוקולדים המיוצרים בישראל ובעולם וכן מגוון של מוצרים מלוחים, פירות יבשים מכל סוג ועוד...
            </p>
            <p>
                כמו כן ניתן לבצע הזמנה מרוכזת מראש של מוצרי החנות, סלסלות שוקולדים לאירועי יום הולדת, חגים, מסיבות רווקים\רווקות , משלוחי מנות בהתאמה אישית על פי בחירתכם.
            </p>
            <p> אנו מספקים מוצרים ברמה גבוהה ובמחירים נמוכים לכל כיס נשמח לראותכם עם חיוך גדול ומתוק על הפנים!
            </p>
            <p>
              כתובתנו רחוב חנוך 31 תל-אביב שוק התקוה.
            </p>          
            <b>שעות פתיחה:</b>
              <p>
                ימים א-ה בין השעות 07:00 עד 18:30
              </p>
              <p>
                  ובימי שישי בין השעות 06:30 ועד כניסת שבת 
              </p>  
            <p> להזמנות ובירורים יש לפנות למספרי הטלפון הבאים:
            </p>
            <p>
              עוזי: 0537227501<br>
            </p>
          </div>         
        </div>        
        <div class="col-sm-4 col-xs-12 imageAbout position-rel">
            <div class="sticky" >
               <app-info></app-info>
            </div>
        </div>
  </div>
</div>
<app-talk-with-us></app-talk-with-us>