.top-cart{
    margin-bottom: 10px;
}
.add-cart{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  color: #d94500;
}

.asd{
    z-index: 10;
}
.close{
    right: 95%;
    top: 5px;
    position: absolute;
}

