<div class="">
    <a href="https://api.whatsapp.com/send?phone=9720537227501&text=ממתקי%20התקווה" target="blank">
      <button class="btn btn-success loading" 
      (mouseover)="stopAnimation()"
      (mouseleave)="startAnimation()" 
      [ngClass]="{'stop-anim': !doAnimation}">
      <span class="disable-anim">
        <div>
            דברו
          </div> 
          <div>
              איתנו ב-
            </div>
              <div>
                  WhastApp
            </div>   
      </span>
                 
      </button>  
    </a>
</div>
