<app-menu></app-menu>
<a class="logo" href="#">
    <img alt="" src="/assets/dafAbait/logo.png">
</a>
<div class="background">
    <div class="grid-title-main-page">
        <span class="grid-title">ממתקי התקווה</span>
    </div>

    <div class="container main-cube-wrapper">
        <div class="row top-container">
            <div class="col-md-12" routerLink="/about">
                <div class="menu-class">
                    <a class="text" >אודות</a>
                </div>
            </div>
            <div class="col-md-4" routerLink="/producs_cat1">
                <div class="menu-class middle-cube">
                    <a class="text" >קטלוג מוצרים מתוקים</a>
                </div>
            </div>
            <div class="col-md-4" routerLink="/producs_cat2">
                <div class="menu-class middle-cube">
                    <a class="text" >קטלוג פירות יבשים</a>
                </div>
            </div>
            <div class=" col-md-4" routerLink="/producs_cat3">
                <div class="menu-class middle-cube">
                    <a class="text" >אירועים ומתנות</a>
                </div>

            </div>
            <div class="col-md-12" routerLink="/contact">
                <div class="menu-class">
                    <a class="text" >צור קשר</a>
                </div>

            </div>
        </div>
    </div>
</div>