.bucket-sumerry{
    /* position: fixed;
    width: 180px;
    height: 180px;
    top: 0;
    
    right: -1325px; */
    bottom: 0;
    box-shadow: 10px 10px 30px 0 #725151;
    display: inline-block;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    margin: auto;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 1); 
    animation: 1s displaySale forwards;
    font-weight: bold;
    
}
.btn-success{
    margin-top: 35px;
    position: sticky;
}
.content-move{
    text-align: right;
}
.count-items{
margin-top: 20px;
}
.title-full{   
    color: green;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px
}
@media (max-width: 992px) and (min-width: 320px){
    .bucket-sumerry {
        top: -574px;
        right: -50px;
        bottom: 0;
        left: 0;
        height: 117px;
        width: 150px; 
        display: none;  
    }
    .count-items{
        margin-bottom: 1px;;
    }
    .btn-success{
        margin-top: 1px;        
    }
}
.new-item{
    margin-top: 5px;
    white-space: nowrap;
    border-bottom: 1px dotted black;
    animation: new-item-animation .3s linear forwards;
}
@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-400px);
}
 
    to {
        opacity: 1;
        transform : translateY(0);
    }
}
select{
    width: 100%;
}
.tooltip-main{
    position: relative;    
}

.tooltip-main .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #d94500;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

}
.tooltip-main:hover .tooltiptext {
    visibility: visible;
}
.summery-items{
    margin-top: 10px;
}
