<div class="header" *ngIf="display==true">
    <a class="logo" href="#">
        <img src="/assets/dafAbait/logo.png" alt="">
    </a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- need to be fix (button)-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">אודות</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/producs_cat1">מוצרים מתוקים</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/producs_cat2">פירות יבשים</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/producs_cat3">אירועים ומתנות</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class=*-"nav-link dropdown-toggle"  id="navbarDropdown" data-toggle="dropdown" routerLink="/producs_cat3">אירועים ומתנות
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/producs_cat4">ימי הולדת</a>
                        <a class="dropdown-item" routerLink="/producs_cat5">חגים</a>                            
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">צור קשר</a>
                </li>
            </ul>
        </div>
    </nav>
</div>