<div class="top-cart">
  <div class="add-cart">
      <p>
            ברוכים הבאים לסל הקניות המהיר של ממתקי התקווה.
        </p>   
        <p>
        כאן תוכלו לראות את המוצרים שבחרתם, להסיר,לשנות ועוד...         
        לעוד מידע איך לרכוש אצלנו לחצו על הכפתור שמתחתי.
    </p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        דרכי הזמנה בממתקי התקווה
    </button>
</div>
</div>
<!-- The Modal -->
 <div class="modal fade" id="myModal">
  <div class="asd modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h2>דרכי הזמנה בממתקי התקווה</h2>

              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <p>
                  אצלנו בממתקי התקווה ההזמנה היא נוחה וקלה.
              </p>
              <p>
                  בכדי להזמין אצלנו יש לבחור את דרך קבלת ההזמנה (משלוח הכולל דמי משלוח או איסוף עצמי)
              </p>
              <p>
                  בעת בחירת איסוף עצמי יש לסמן את שדה "איסוף עצמי", למלא את שאר שדות החובה ולחיצה על שלח הזמנה. לאחר קבלת ההזמנה אצלנו במערכת אנו ניצור קשר עימכם לגבי איסוף החבילה.
              </p>
              <p>
                  בעת משלוח, יש לבחור את שדה "בחר עיר למשלוח" למלא את שאר שדות החובה ולחיצה על שלח הזמנה. לאחר קבלת ההזמנה אצלנו במערכת אנו ניצור עמכם קשר לקבלת מספר
                  כרטיס אשראי ונבצע את העיסקה.
              </p>
              <p>
                  לכל שאלה ופניה יש באפשרותכם ליצור עמנו קשר דרך לשונית "צור קשר"
                  או להתקשר למספר 053-722-7501.
              </p>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

      </div>
  </div>
</div>
