<div *ngIf="display!='1'" class="Sale" [ngClass]="{'Sale-in': cancelbig==true,'Sale-out': cancelbig==false }">    
    <div class="close" (click)="closeBigSale()">&times;</div>   
<span>
    <img class="FixedImg" src="/assets/dafAbait/15.jpg" >
</span>
  <div class="content-move">
      <div>
          <img class="icon" src="/assets/dafAbait/v-icon.png" >          
          3 יח קינדר בואנו ב- 10 ש''ח'        
      </div>
         <div>
            <img class="icon" src="/assets/dafAbait/v-icon.png" >  
            עוגיות פילאס כחול לבן 7.5 ש''ח'        
         </div>
         <div>
            <img class="icon" src="/assets/dafAbait/v-icon.png" >  
            עוגות שמרים ב-10 ש''ח!'
         </div>
             
            
            <!-- <img class="FixedImg" src="/assets/dafAbait/13.png" > -->
  </div>

  <button class="btn btn-danger" routerLink="/producs_cat1" (click)="turnOffPopUp()">לעוד מבצעים</button>  
</div>