<div class="Sale" [ngClass]="{'Sale-in': cancelbig==true,'Sale-out': cancelbig==false }">    
    <div class="close" (click)="closeBigSale()">&times;</div>   
<span>
    <img class="FixedImg" src="/assets/dafAbait/15.jpg" >
</span>
  <div class="asd">
      <div>
          <img class="icon" src="/assets/dafAbait/v-icon.png" >          
          סלסלות לחג הפסח במחירי מבצע!         
      </div>
         <div>
            <img class="icon" src="/assets/dafAbait/v-icon.png" >  
            מבחר סוגי עוגיות לחג הפסח!          
         </div>
         <div>
            <img class="icon" src="/assets/dafAbait/v-icon.png" >  
            מבחר ענק של בונבוניירות לחג הפסח!
         </div>
             
            
            <!-- <img class="FixedImg" src="/assets/dafAbait/13.png" > -->
  </div>

  <button class="btn btn-danger" routerLink="/producs_passover">לעוד מבצעים</button>  
</div>